{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": [
      "./tsconfig.app.json",
      "./tsconfig.spec.json"
    ]
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "rules": {
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "no-useless-concat": "error",
    "curly": "error",
    "@typescript-eslint/indent": [
      "error",
      2
    ],
    "@typescript-eslint/no-unsafe-call": "off",
    "no-trailing-spaces": "error",
    "only-arrow-functions": "off",
    "prefer-template": "error",
    "semi": "error",
    "trailing-comma": "off"
  }
}
